
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #f6f7f8;
    color: #0e0d0d;
    transition: 0.4s ease;
}

/* DARK MODE */
body.dark {
    background: #1e1f22;
    color: #e4e4e4;
}

/* NAVBAR */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    position: sticky;
    top: 0;
    background: rgba(255,255,255,0.8);
    backdrop-filter: blur(10px);
}

nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

nav a {
    text-decoration: none;
    color: inherit;
    font-weight: bold;
}

/* HERO */
.hero {
    text-align: center;
    padding: 120px 20px;
    background: linear-gradient(to bottom right, #74b9ff, #a29bfe);
    color: white;
    border-radius: 20px;
}

.hero .btn {
    margin-top: 25px;
    padding: 12px 25px;
    text-decoration: none;
    color: white;
    background: rgba(255,255,255,0.2);
    border-radius: 8px;
    display: inline-block;
}

/* SECTIONS */
.about {
    max-width: 900px;
    margin: auto;
    padding: 70px 20px;
}

.Education {
    max-width: 900px;
    margin: auto;
    padding: 70px 20px;
}

.course {
    max-width: 900px;
    margin: auto;
    padding: 70px 20px;
}

.contact {
    max-width: 900px;
    margin: auto;
    padding: 70px 20px;
}

.skill {
    max-width: 900px;
    margin: auto;
    padding: 70px 20px;
}

.links{
    max-width: 900px;
    margin: auto;
    padding: 70px 20px;
}

.course-grid {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.card {
    padding: 25px;
    background: white;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-5px);
}

.card-btn {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 18px;
    background: #0984e3;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    font-size: 14px;
    transition: 0.3s ease;
}

.card-btn:hover {
    background: #74b9ff;
    transform: translateY(-2px);
}



form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input, textarea {
    padding: 15px;
    border-radius: 8px;
    border: 1px solid #aaa;
    font-size: 15px;
}

textarea {
    height: 150px;
}


footer {
    text-align: center;
    padding: 25px;
    background: #dfe6e9;
}


.fade-in {
    opacity: 0;
    transform: translateY(50px);
    transition: 0.8s;
}

.fade-in.visible {
    opacity: 1;
    transform: translateY(0);
}
